@font-family: 'Open Sans, sans-serif';
@font-style: normal;
@inputLabelShadow: #67E300;

.rounded-corners (@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.box-shadow (@param1, @param2) {
  -moz-box-shadow: @param1, @param2;
  -webkit-box-shadow: @param1, @param2;
  box-shadow: @param1, @param2;
}

.box-shadow2 (@param1) {
  -moz-box-shadow: @param1;
  -webkit-box-shadow: @param1;
  box-shadow: @param1;
}

.gradient (@width, @height, @padding, @margin, @direction, @from, @to) {
  width: @width;
  height: @height;
  padding: @padding;
  margin: @margin;
  background-image: linear-gradient(@direction, @from, @to);
  background-image: -o-linear-gradient(@direction, @from, @to);
  background-image: -moz-linear-gradient(@direction, @from, @to);
  background-image: -webkit-linear-gradient(@direction, @from, @to);
  background-image: -ms-linear-gradient(@direction, @from, @to);
}

@font-face {
	font-family: @font-family;
	font-style: @font-style;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'),
		url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff)
		format('woff');
}

@font-face {
	font-family: @font-family;
	font-style: @font-style;
	font-weight: 600;
	src: local('Open Sans Semibold'), local('OpenSans-Semibold'),
		url(http://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff)
		format('woff');
}

@font-face {
	font-family: @font-family;
	font-style: @font-style;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'),
		url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff)
		format('woff');
}

body {
	background-image: url("../images/shattered.png");
	background-repeat: repeat;
	font-family: @font-family;
}

input[type="text"],input[type="password"],textarea {
	width: 835px;
	border: 2px solid #dadada;
	.rounded-corners(7px);
	font-size: 20px;
	padding: 5px;
	margin-top: -10px;
}

input[type="text"]:focus,input[type="password"]:focus,textarea:focus {
	outline: none;
	border-color: @inputLabelShadow;
	.box-shadow2(0 0 10px @inputLabelShadow);
	background-color: #DEFFC4;
}

label {
	font-size: 20px;
}

label:HOVER {
	text-shadow: @inputLabelShadow 0.1em 0.1em 0.2em;
}

textarea {
	height: 300px;
}

a:link,a:visited {
	
}

a {
	text-decoration: none;
	color: #000000;
}

a:hover {
	text-decoration: underline;
}

li {
	display: inline;
}

.inputError {
	background-color: #FFBABA;
}

.divApresentacao {
	border: 2px solid #000000;
	height: auto;
	margin-bottom: 10px;
}

.tituloSecao {
  .gradient(auto, 20px, 5px, 0px, left, #FFE973 17%, #FFD700 100%);
}

.tituloApresentacao {
  .gradient(auto, auto, 0px 0px 0px 5px, -16px 0px 0px 0px, left, #FFB273 17%, #FF7400 100%);
}

.tituloMensagem {
  .gradient(auto, auto, 0px 0px 0px 5px, 0px 0px 0px 0px, left, #5CCCCC 17%, #006363 100%);
}

.tituloTopico {
  .gradient(auto, auto, 0px 0px 0px 5px, -16px 0px 0px 0px, left, #A6F16C 10%, #409300 100%);
}

.corpoApresentacao {
	height: 58px;
}

.desenhoApresentacao {
	border-top: 2px solid #000000;
	padding: 5px;
	width: 58px;
	height: 46px;
	float: left;
}

.mensagemApresentacao {
	border: 2px solid #000000;
	background-color: #F8F8F8;
	padding: 5px;
	width: 616px;
	height: 46px;
	float: left;
}

.contagemApresentacao {
	border-top: 2px solid #000000;
	background-color: #E8E8E8;
	padding: 5px;
	width: 138px;
	height: 46px;
	float: left;
}

.breadcrumbs {
	width: auto;
	padding: 5px;
	margin-bottom: 10px;
	background-color: #F8F8F8;
	border: 2px solid #000000;
}

#conteiner {
	margin: auto;
	width: 850px;
	height: auto;
	background-color: #FFFFFF;
	padding: 10px;
}

.tag {
  display: inline-block;
    padding: 3px;
    border: 1px solid #777;
    border-radius: 6px;
    .box-shadow(0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(0, 0, 0, 0.2));
    text-decoration: none;
    text-transform: lowercase;
}
#content {
	margin: auto;
	width: 200px;
	height: auto;
	background-color: white;
	padding: 10px;
}

.button
{        
  display: inline-block;
  white-space: nowrap;
  background-color: #ccc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
  background-image: -webkit-linear-gradient(top, #eee, #ccc);
  background-image: -moz-linear-gradient(top, #eee, #ccc);
  background-image: -ms-linear-gradient(top, #eee, #ccc);
  background-image: -o-linear-gradient(top, #eee, #ccc);
  background-image: linear-gradient(top, #eee, #ccc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
  border: 1px solid #777;
  padding: 0 1.5em;
  margin: 0.5em;
  font: bold 1em/2em Arial, Helvetica;
  text-decoration: none;
  color: #333;
  text-shadow: 0 1px 0 rgba(255,255,255,.8);
  -moz-border-radius: .2em;
  -webkit-border-radius: .2em;
  border-radius: .2em;
  -moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
  -webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
  box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}

.button:hover
{
  background-color: #ddd;        
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ddd));
  background-image: -webkit-linear-gradient(top, #fafafa, #ddd);
  background-image: -moz-linear-gradient(top, #fafafa, #ddd);
  background-image: -ms-linear-gradient(top, #fafafa, #ddd);
  background-image: -o-linear-gradient(top, #fafafa, #ddd);
  background-image: linear-gradient(top, #fafafa, #ddd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');        
}

.button:active
{
  -moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
  -webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
  box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
  position: relative;
  top: 1px;
}

.button:focus
{
  outline: 0;
  background: #fafafa;
}    

.button:before
{
  background: #ccc;
  background: rgba(0,0,0,.1);
  float: left;        
  width: 1em;
  text-align: center;
  font-size: 1.5em;
  margin: 0 1em 0 -1em;
  padding: 0 .2em;
  -moz-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
  -webkit-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
  box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
  -moz-border-radius: .15em 0 0 .15em;
  -webkit-border-radius: .15em 0 0 .15em;
  border-radius: .15em 0 0 .15em;
        pointer-events: none;        
}

/* Hexadecimal entities for the icons */

.add:before
{
  content: "\271A";
}

.edit:before
{
  content: "\270E";        
}

.delete:before
{
  content: "\2718";        
}

.save:before
{
  content: "\2714";        
}

.email:before
{
  content: "\2709";        
}

.like:before
{
  content: "\2764";        
}

.next:before
{
  content: "\279C";
}

.star:before
{
  content: "\2605";
}

.spark:before
{
  content: "\2737";
}

.play:before
{
  content: "\25B6";
} 