<?xml version="1.0" encoding="UTF-8"?><web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="WebApp_ID" version="2.4" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Projeto_IFRS</display-name>
	<servlet>
		<description>
		</description>
		<display-name>NewSectionController</display-name>
		<servlet-name>NewSectionController</servlet-name>
		<servlet-class>Controller.NewSectionController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>NewUserController</display-name>
		<servlet-name>NewUserController</servlet-name>
		<servlet-class>Controller.NewUserController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>NewThreadController</display-name>
		<servlet-name>NewThreadController</servlet-name>
		<servlet-class>Controller.NewThreadController</servlet-class>
	</servlet>

	<servlet>
		<description>
		</description>
		<display-name>NewCommentController</display-name>
		<servlet-name>NewCommentController</servlet-name>
		<servlet-class>Controller.NewCommentController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>IndexController</display-name>
		<servlet-name>IndexController</servlet-name>
		<servlet-class>Controller.IndexController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ShowSectionController</display-name>
		<servlet-name>ShowSectionController</servlet-name>
		<servlet-class>Controller.ShowSectionController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoginController</display-name>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>Controller.LoginController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ShowThreadController</display-name>
		<servlet-name>ShowThreadController</servlet-name>
		<servlet-class>Controller.ShowThreadController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EditThreadController</display-name>
		<servlet-name>EditThreadController</servlet-name>
		<servlet-class>Controller.EditThreadController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EditCommentController</display-name>
		<servlet-name>EditCommentController</servlet-name>
		<servlet-class>Controller.EditCommentController</servlet-class>
	</servlet>
    <servlet>
        <description/>
        <display-name>DeleteThreadController</display-name>
        <servlet-name>DeleteThreadController</servlet-name>
        <servlet-class>Controller.DeleteThreadController</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>DeleteCommentController</display-name>
        <servlet-name>DeleteCommentController</servlet-name>
        <servlet-class>Controller.DeleteCommentController</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>DeleteSectionController</display-name>
        <servlet-name>DeleteSectionController</servlet-name>
        <servlet-class>Controller.DeleteSectionController</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>EditSectionController</display-name>
        <servlet-name>EditSectionController</servlet-name>
        <servlet-class>Controller.EditSectionController</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ShowUserController</display-name>
    	<servlet-name>ShowUserController</servlet-name>
    	<servlet-class>Controller.ShowUserController</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>EditUserController</display-name>
    	<servlet-name>EditUserController</servlet-name>
    	<servlet-class>Controller.EditUserController</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>DeleteUserController</display-name>
    	<servlet-name>DeleteUserController</servlet-name>
    	<servlet-class>Controller.DeleteUserController</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>NewCommentController</servlet-name>
		<url-pattern>/novoComentario</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewSectionController</servlet-name>
		<url-pattern>/novaSecao</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewUserController</servlet-name>
		<url-pattern>/novoUsuario</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewThreadController</servlet-name>
		<url-pattern>/novoTopico</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IndexController</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowSectionController</servlet-name>
		<url-pattern>/exibeSecao</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowThreadController</servlet-name>
		<url-pattern>/exibeTopico</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditThreadController</servlet-name>
		<url-pattern>/editarTopico</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditCommentController</servlet-name>
		<url-pattern>/editarComentario</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteThreadController</servlet-name>
        <url-pattern>/apagarTopico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCommentController</servlet-name>
        <url-pattern>/apagarComentario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSectionController</servlet-name>
        <url-pattern>/apagarSecao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSectionController</servlet-name>
        <url-pattern>/editarSecao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ShowUserController</servlet-name>
    	<url-pattern>/listarUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>EditUserController</servlet-name>
    	<url-pattern>/editarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>DeleteUserController</servlet-name>
    	<url-pattern>/apagarUsuario</url-pattern>
    </servlet-mapping>
	<filter>
	    <filter-name>AuthFilter</filter-name>
	    <filter-class>Filters.AuthFilter</filter-class>
	    <init-param>
	        <param-name>test-param</param-name>
	        <param-value>This parameter is for testing.</param-value>
	    </init-param>
	</filter>
	<filter-mapping>
	    <filter-name>AuthFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
